[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amqp = "*"
anyjson = "*"
astroid = "*"
autopep8 = "*"
billiard = "*"
certifi = "*"
chardet = "*"
defusedxml = "*"
dj-database-url = "*"
django-allauth = "*"
django-countries = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-heroku = "*"
django-phonenumber-field = "*"
django-twilio = "*"
djangorestframework = "*"
django-celery = "*"
future = "*"
gunicorn = "*"
idna = "*"
isort = "*"
kombu = "*"
lazy-object-proxy = "*"
mccabe = "*"
oauthlib = "*"
pep8 = "*"
phonenumbers = "*"
psycopg2 = "*"
pycodestyle = "*"
pylint = "*"
python-decouple = "*"
python3-openid = "*"
pytz = "*"
redis = "==2.10.6"
requests = "*"
requests-oauthlib = "*"
six = "*"
sqlparse = "*"
stripe = "*"
toml = "*"
twilio = "*"
urllib3 = "*"
vine = "*"
whitenoise = "*"
wrapt = "*"
Babel = "*"
Django = "*"
Pillow = "*"
PyJWT = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"
